/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/
params {
    modules_testdata_base_path   = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 's3://test-data/sampletracking'
}

aws {
    client {
        endpoint          = "https://s3.ugent.be"
        s3PathStyleAccess = true
        connectionTimeout = 60000
    }
}

process {
    resourceLimits = [
        cpus: 4,
        memory: 12.GB,
        time: 6.h,
    ]
}
