/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/
params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/sampletracking'

    // Needed for configuration access to parameters in modules.config
    max_yx_female = 0.06
    min_yx_male = 0.09
    min_sry_cov_male = 20
    min_hetx_female = 0.25
    max_hetx_male = 0.05
}

aws {
    client {
        endpoint = "https://s3.ugent.be"
        s3PathStyleAccess = true
        connectionTimeout = 60000
    }
}
