/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/sampletracking'
}

aws {
    client {
        endpoint = "https://s3.ugent.be"
        protocol = "https"
        s3PathStyleAccess = true
        connectionTimeout = 60000
    }
}
