params {
    config_profile_name        = 'CMGG Torque'
    config_profile_description = 'CMGG Torque cluster configuration and default params'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 5
    max_memory = '10.GB'
    max_time   = '6.h'

    // Genome references
    bwa_index       = "/Shared/references/Hsapiens/hg38/bwa"
    fasta           = "/Shared/references/Hsapiens/hg38/seq/hg38.fa"
    haplotype_map   = "${projectDir}/assets/haplotype_maps/haplotype_map_nimagen.txt"
}
