/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-cmgg/sampletracking -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]

    // Picard CrosscheckFingerprints
    withName: "PICARD_CROSSCHECKFINGERPRINTS" {
        publishDir = [ enabled:false ]
        ext.args = {[
            "--CROSSCHECK_BY SAMPLE",
            "--CROSSCHECK_MODE CHECK_ALL_OTHERS",
            "--CALCULATE_TUMOR_AWARE_RESULTS false",
            "--LOD_THRESHOLD 0.0",
            "--EXIT_CODE_WHEN_MISMATCH 0",
            "--EXIT_CODE_WHEN_NO_VALID_CHECKS 0",
            "--VALIDATION_STRINGENCY LENIENT",
            "--ALLOW_DUPLICATE_READS true",
        ].join(" ").trim()}
    }

}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    input = "${projectDir}/assets/samplesheet.csv"
    bwa_index = "s3://test-data/genomics/homo_sapiens/genome/bwa/"
    fasta   = "https://github.com/nf-cmgg/test-datasets/raw/sampletracking/data/genomics/homo_sapiens/genome/seq/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set_chr21.fna"
    fai    = "https://github.com/nf-cmgg/test-datasets/raw/sampletracking/data/genomics/homo_sapiens/genome/seq/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set_chr21.fna.fai"
    haplotype_map = "s3://test-data/sampletracking/haplotype_map.txt"
}

aws {
    profile = "ugent"
    client {
        endpoint = "https://s3.ugent.be"
        s3PathStyleAccess = true
        connectionTimeout = 60000
    }
}
