/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-cmgg/sampletracking -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    custom_config_base         = null

    input                      = "${projectDir}/assets/samplesheet.yml"
    fasta                      = "s3://test-data/sampletracking/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set.fna"
    fai                        = "s3://test-data/sampletracking/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set.fna.fai"
    haplotype_map              = "s3://test-data/sampletracking/haplotype_map.txt"

    // Needed for configuration access to parameters in modules.config
    max_yx_female                = 0.06
    min_yx_male                  = 0.09
    min_sry_cov_male             = 20
    min_hetx_female              = 0.25
    max_hetx_male                = 0.05
}

aws {
    client {
        endpoint          = "https://s3.ugent.be"
        s3PathStyleAccess = true
        connectionTimeout = 60000
    }
}
process {
    resourceLimits = [
        cpus: 4,
        memory: 12.GB,
        time: 6.h,
    ]
}
